body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.zomato-theme-cont {
  height: 50%;
  background-color: #f9f9f9;
  width: 70%;
  display: flex;
  justify-content: center;
  border-radius: 16px;
}
.zomato-theme {
  background-color: #f8f8f8; /* Light gray background */
  padding: 20px;
  width: 70%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.zomato-title {
  font-size: 24px;
  color: #df1c1c; /* Zomato pink color */
  margin-bottom: 20px;
}

.video-container {
  position: relative;
}

.zomato-video {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 20px;
}

.start-button,
.end-button {
  background-color: #e91b1b; /* Zomato pink color */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-button:hover,
.end-button:hover {
  background-color: #b30d50; /* Darker shade of Zomato pink color on hover */
}

.end-button {
  margin-left: 10px;
}
.end-message {
  font-size: 16px;
  color: #333; /* Dark text color */
  margin-top: 10px;
}
.card-image {
  width: 100%; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-top: 20px; /* Adjust margin as needed */
  border-radius: 8px; /* Add border-radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}
